[Desktop Entry]
Name=Main Menu
Name[af]=Hoofkieslys
Name[an]=Menu prencipal
Name[ar]=القائمة الرئيسية
Name[as]=মূখ্য তালিকা
Name[ast]=Menú Principal
Name[be]=Галоўнае меню
Name[be@latin]=Hałoŭnaje menu
Name[bem]=Menu Ikalamba
Name[bg]=Основно меню
Name[bn]=প্রধান মেনু
Name[bn_IN]=প্রধান মেনু
Name[br]=Pennlañser
Name[brx]=गुदि मिनु
Name[ca]=Menú principal
Name[ca@valencia]=Menú principal
Name[crh]=Baş Menü
Name[cs]=Hlavní nabídka
Name[cy]=Prif Ddewislen
Name[da]=Hovedmenu
Name[de]=Hauptmenü
Name[dz]=དཀར་ཆག་ངོ་མ་
Name[el]=Κυρίως μενού
Name[en@shaw]=𐑥𐑱𐑯 𐑥𐑧𐑯𐑿
Name[en_CA]=Main Menu
Name[en_GB]=Main Menu
Name[eo]=Ĉefa menuo
Name[es]=Menú principal
Name[et]=Peamenüü
Name[eu]=Menu nagusia
Name[fa]=منوی اصلی
Name[fi]=Päävalikko
Name[fr]=Menu principal
Name[fur]=Menu principâl
Name[fy]=Haadmenu
Name[ga]=Príomhroghchlár
Name[gl]=Menú principal
Name[gu]=મુખ્ય મેનુ
Name[he]=תפריט ראשי
Name[hi]=मुख्य मेन्यू
Name[hr]=Glavni izbornik
Name[hu]=Főmenü
Name[hy]=Գլխավոր մենյու
Name[id]=Menu Utama
Name[io]=Precipua Menuo
Name[it]=Menù principale
Name[ja]=メイン・メニュー
Name[ka]=ძირითადი მენიუ
Name[kk]=Бас мәзір
Name[km]=ម៉ឺនុយ​មេ
Name[kn]=ಮುಖ್ಯ ಪರಿವಿಡಿ
Name[ko]=주 메뉴
Name[ku]=Pêşeka Bingehîn
Name[lt]=Pagrindinis meniu
Name[lv]=Galvenā izvēlne
Name[mai]=मुख्य मेनू
Name[mg]=Tolotra Fototra
Name[mk]=Главно мени
Name[ml]=പ്രധാന മെനു
Name[mn]=Үндсэн цэс
Name[mr]=मुख्य मेन्यु
Name[ms]=Menu Utama
Name[nb]=Hovedmeny
Name[nds]=Hööftmenü
Name[nl]=Hoofdmenu
Name[nn]=Hovudmeny
Name[oc]=Menut principal
Name[or]=ମୁଖ୍ୟ ତାଲିକା
Name[pa]=ਮੁੱਖ ਮੇਨੂ
Name[pl]=Menu główne
Name[ps]=اره غورنۍ
Name[pt]=Menu Principal
Name[pt_BR]=Menu principal
Name[ro]=Meniu principal
Name[ru]=Главное меню
Name[sk]=Hlavná ponuka
Name[sl]=Glavni meni
Name[sq]=Menuja kryesore
Name[sr]=Главни изборник
Name[sr@latin]=Glavni izbornik
Name[sv]=Huvudmeny
Name[sw]=Menyu kuu
Name[ta]=முதன்மை புப் பட்டி
Name[te]=ముఖ్య జాబితా
Name[th]=เมนูหลัก
Name[tr]=Ana Menü
Name[ug]=ئاساسىي تىزىملىك
Name[uk]=головне меню
Name[uz@cyrillic]=Асосий меню
Name[vi]=Trình đơn chính
Name[zh_CN]=主菜单
Name[zh_HK]=主選單
Name[zh_TW]=主選單
Name[zu]=Ingqikithi yemenyu
Comment=Add or remove applications from the main menu
Comment[bg]=Добавяне или премахване на програмите в основното меню
Comment[ca]=Afegiu o suprimiu aplicacions al menú principal
Comment[ca@valencia]=Afegiu o suprimiu aplicacions al menú principal
Comment[de]=Anwendungen dem Hauptmenü hinzufügen oder löschen
Comment[el]=Προσθέστε ή αφαιρέστε εφαρμογές από το κύριο μενού
Comment[es]=Añadir o quitar aplicaciones del menú principal
Comment[fr]=Ajouter ou supprimer des applications à partir du menu principal
Comment[gl]=Engadir ou quitar aplicativos desde o menú principal
Comment[id]=Tambah atau hapus aplikasi dari menu utama
Comment[lv]=Pievienot vai izņemt lietotnes no galvenās izvēlnes
Comment[pl]=Dodawanie lub usuwanie programów z głównego menu
Comment[pt_BR]=Altere quais aplicativos são mostrados no menu principal
Comment[ru]=Добавить или удалить приложения из главного меню
Comment[sl]=Dodajanje in odstranjevanje programov v osnovnem meniju
Comment[sr]=Додајте или уклоните програме приказане у главном изборнику
Comment[sr@latin]=Dodajte ili uklonite programe prikazane u glavnom izborniku
Comment[te]=ప్రధాన జాబితా నుండి అనువర్తనాలు జోడించండి లేదా తొలగించండి
Comment[zh_HK]=從主選單加入或移除應用程式
Comment[zh_TW]=從主選單加入或移除應用程式
Exec=alacarte
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Utility;X-SuSE-DesktopUtility;
NotShowIn=KDE;
Icon=alacarte
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=alacarte
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=0.13.4

