[Desktop Entry]
X-SuSE-translate=true
Name=光盘刻录器
GenericName=Disc Burner and Copier
Comment=Create and copy CDs and DVDs
Categories=GTK;GNOME;AudioVideo;DiscBurning;
MimeType=application/x-cd-image;application/x-cdrdao-toc;application/x-cue;application/x-toc;audio/x-scpls;audio/x-ms-asx;audio/x-mp3-playlist;audio/x-mpegurl;application/x-brasero;x-content/audio-cdda;x-content/video-dvd;x-content/video-vcd;x-content/video-svcd;x-content/image-picturecd;
Exec=brasero %U
Icon=brasero
StartupNotify=true
Terminal=false
Type=Application
X-GNOME-FullName=Brasero Disc Burner
X-GNOME-FullName[af]=Brasero-skyfskrywer
X-GNOME-FullName[ar]=حارق الأقراص براسيرو
X-GNOME-FullName[as]=Brasero ডিস্ক বাৰ্ন ব্যৱস্থা
X-GNOME-FullName[ast]=Grabador de discos Brasero
X-GNOME-FullName[be]=Праграма для запісу дыскаў Brasero
X-GNOME-FullName[bg]=Запис на диск (Brasero)
X-GNOME-FullName[bn]=ব্রাসেরো ডিস্ক বার্নার
X-GNOME-FullName[bn_IN]=Brasero ডিস্ক বার্ন ব্যবস্থা
X-GNOME-FullName[br]=Engraverez kantennoù Brasero
X-GNOME-FullName[ca]=Enregistrador de discs Brasero
X-GNOME-FullName[ca@valencia]=Enregistrador de discs Brasero
X-GNOME-FullName[cs]=Vypalovací software Brasero
X-GNOME-FullName[da]=Brasero diskbrænder
X-GNOME-FullName[de]=Brasero CD/DVD-Brennprogramm
X-GNOME-FullName[el]=Εγγραφή δίσκων CD/DVD
X-GNOME-FullName[en@shaw]=·𐑚𐑮𐑩𐑟𐑽𐑴 𐑛𐑦𐑕𐑒 𐑚𐑻𐑯𐑼
X-GNOME-FullName[en_CA]=Brasero Disc Burner
X-GNOME-FullName[en_GB]=Brasero Disc Burner
X-GNOME-FullName[es]=Grabador de discos Brasero
X-GNOME-FullName[et]=Brasero plaadikirjutaja
X-GNOME-FullName[eu]=Brasero, diskoak grabatzea
X-GNOME-FullName[fa]=سوراننده‌ی دیسک برازرو
X-GNOME-FullName[fi]=Brasero-levynkirjoittaja
X-GNOME-FullName[fr]=Gravure de disque Brasero
X-GNOME-FullName[ga]=Dóire Dioscaí Brasero
X-GNOME-FullName[gl]=Gravador de discos Brasero
X-GNOME-FullName[gu]=Brasero ડિસ્ક બનાવનાર
X-GNOME-FullName[he]=צורב התקליטורים Brasero
X-GNOME-FullName[hi]=ब्रेसेरो डिस्क बर्नर
X-GNOME-FullName[hu]=Brasero lemezíró
X-GNOME-FullName[id]=Brasero Pembakar Diska
X-GNOME-FullName[it]=Masterizzatore dischi Brasero
X-GNOME-FullName[ja]=Brasero ディスク作成ツール
X-GNOME-FullName[km]=កម្មវិធី​ដុត​ថាស Brasero
X-GNOME-FullName[kn]=Brasero ಡಿಸ್ಕ್ ಬರಹಗಾರ
X-GNOME-FullName[ko]=브라세로 디스크 굽기 프로그램
X-GNOME-FullName[ku]=Brasero Nivîskarê Dîskan
X-GNOME-FullName[lt]=CD/DVD rašymas bei kopijavimas
X-GNOME-FullName[lv]=Brasero disku rakstītājs
X-GNOME-FullName[mk]=Brasero снимач на дискови
X-GNOME-FullName[ml]=ബ്രസേറോ ഡിസ്ക് ബര്‍ണര്‍
X-GNOME-FullName[mr]=ब्रसेरो डिस्क बर्नर
X-GNOME-FullName[my]=Brasero ခွေရိုက်ယူသည့်အရာ
X-GNOME-FullName[nb]=Brasero brenneprogram
X-GNOME-FullName[nds]=Brasero Diskbrenner
X-GNOME-FullName[nl]=Brasero cd's branden
X-GNOME-FullName[nn]=Brasero brenneprogram
X-GNOME-FullName[oc]=Gravadura de disc Brasero
X-GNOME-FullName[or]=Brasero ଡିସ୍କ ଲେଖକ
X-GNOME-FullName[pa]=ਬਰਾਸੀਰੋ ਡਿਸਕ ਬਰਨਰ
X-GNOME-FullName[pl]=Nagrywanie płyt Brasero
X-GNOME-FullName[pt]=Aplicação de Gravação de Discos Brasero
X-GNOME-FullName[pt_BR]=Gravador de discos Brasero
X-GNOME-FullName[ro]=Scriere de discuri Brasero
X-GNOME-FullName[ru]=Приложение для записи дисков Brasero
X-GNOME-FullName[sk]=Brasero - napaľovanie diskov
X-GNOME-FullName[sl]=Brasero zapisovalnik
X-GNOME-FullName[sr]=Бразеро писач дискова
X-GNOME-FullName[sr@latin]=Brazero pisač diskova
X-GNOME-FullName[sv]=Skivbrännaren Brasero
X-GNOME-FullName[ta]=ப்ராஸரோ வட்டு எழுதி
X-GNOME-FullName[te]=బ్రసెరో డిస్కు బర్నర్
X-GNOME-FullName[th]=โปรแกรมเขียนแผ่น Brasero
X-GNOME-FullName[tr]=Brasero Disk Yazma Programı
X-GNOME-FullName[ug]=Brasero دىسكىغا يازغۇ
X-GNOME-FullName[uk]=Програма для запису дисків Brasero
X-GNOME-FullName[vi]=Công cụ chép ra đĩa Brasero
X-GNOME-FullName[zh_CN]=Brasero 光盘刻录器
X-GNOME-FullName[zh_HK]=Brasero 光碟燒錄程式
X-GNOME-FullName[zh_TW]=Brasero 光碟燒錄程式
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=brasero
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.4.1

