[Desktop Entry]
X-SuSE-translate=true
Version=1.0
Type=Application
Exec=exo-open --launch MailReader %u
Icon=internet-mail
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/mailto;
Name=邮件浏览器
Comment=Read your email

