[Desktop Entry]
MimeType=application/x-fskin;
Name=Fcitx Skin Installer
Name[zh_CN]=Fcitx 皮肤安装器
Comment=Installer Script for Fcitx Skin
Comment[zh_CN]=Fcitx 皮肤的安装器
Exec=fcitx-skin-installer %U
Icon=fcitx
Terminal=false
Type=Application
Categories=Utility;Utility;X-SuSE-DesktopUtility;
StartupNotify=false
X-GNOME-AutoRestart=false
X-GNOME-Autostart-Notify=false
X-KDE-StartupNotify=false
NoDisplay=true
