[Desktop Entry]
X-SuSE-translate=true
Name=桌面小工具
Type=Application
Encoding=UTF-8
Version=1.0
MimeType=application/x-gdesklets-display;
Categories=System;Applet;
X-GNOME-Autostart-enabled=true
Exec=gdesklets start
Terminal=false
Icon=gdesklets
GenericName=Desktop Widgets
Comment=Eye candy for your desktop

