[Desktop Entry]
X-SuSE-translate=true
GenericName=Text Editor
Name=文本编辑器
GenericName=Text Editor
Comment=Edit text files
Exec=gedit %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=application/x-awk;application/x-csh;application/x-perl;application/x-php;application/x-shellscript;text/plain;text/x-c;text/x-c++;text/x-c++hdr;text/x-chdr;text/x-c++src;text/x-csrc;text/x-fortran;text/x-java;text/x-log;text/x-makefile;text/x-moc;text/x-pascal;text/x-patch;text/x-python;text/x-readme;text/x-scheme;text/x-tcl;text/x-tex;
Icon=accessories-text-editor
Categories=GNOME;GTK;Utility;TextEditor;
X-GNOME-DocPath=gedit/gedit.xml
X-GNOME-FullName=gedit Text Editor
X-GNOME-FullName[af]=gedit-teksredigeerder
X-GNOME-FullName[ar]=محرّر النصوص ج‌إدِت
X-GNOME-FullName[as]=gedit টেক্সট সম্পাদক
X-GNOME-FullName[ast]=Editor de Testu gedit
X-GNOME-FullName[be]=Тэкставы рэдактар gedit
X-GNOME-FullName[bg]=Текстов редактор (gedit)
X-GNOME-FullName[bn]=জিএডিট টেক্সট সম্পাদক
X-GNOME-FullName[bn_IN]=gedit টেক্সট এডিটার
X-GNOME-FullName[ca]=Editor de text gedit
X-GNOME-FullName[ca@valencia]=Editor de text gedit
X-GNOME-FullName[crh]=gedit Metin Muharriri
X-GNOME-FullName[cs]=Textový editor gedit
X-GNOME-FullName[da]=Tekstredigeringen gedit
X-GNOME-FullName[de]=gedit Texteditor
X-GNOME-FullName[el]=Επεξεργαστής κειμένου gedit
X-GNOME-FullName[en@shaw]=·𐑜𐑧𐑛𐑦𐑑 𐑑𐑧𐑒𐑕𐑑 𐑧𐑛𐑦𐑑𐑼
X-GNOME-FullName[en_GB]=gedit Text Editor
X-GNOME-FullName[eo]=Gedit tekstredaktilo
X-GNOME-FullName[es]=Editor de textos gedit
X-GNOME-FullName[et]=Tekstiredaktor gedit
X-GNOME-FullName[eu]=gedit testu-editorea
X-GNOME-FullName[fa]=ویرایشگر متن gedit
X-GNOME-FullName[fi]=gedit-tekstimuokkain
X-GNOME-FullName[fr]=Éditeur de texte gedit
X-GNOME-FullName[ga]=Eagarthóir Téacs gedit
X-GNOME-FullName[gl]=Editor de texto gedit
X-GNOME-FullName[gu]=gedit લખાણ સંપાદક
X-GNOME-FullName[he]=עורך הטקסט gedit
X-GNOME-FullName[hi]=जीएडिट पाठ संपादक
X-GNOME-FullName[hu]=gedit szövegszerkesztő
X-GNOME-FullName[id]=gedit Penyunting Teks
X-GNOME-FullName[it]=Editor di testo gedit
X-GNOME-FullName[ja]=gedit テキストエディター
X-GNOME-FullName[kn]=gedit ಪಠ್ಯ ಸಂಪಾದಕ
X-GNOME-FullName[ko]=지에디트 텍스트 편집기
X-GNOME-FullName[lt]=gedit tekstų redaktorius
X-GNOME-FullName[lv]=gedit teksta redaktors
X-GNOME-FullName[mai]=जीएडिट पाठ संपादक
X-GNOME-FullName[mk]=gedit уредувачот на текст
X-GNOME-FullName[ml]=ജിഎഡിറ്റ് എഴുത്തിടം
X-GNOME-FullName[mr]=gedit मजकूर संपादक
X-GNOME-FullName[my]=gedit စာသားအယ်ဒီတာ
X-GNOME-FullName[nb]=gedit tekstredigering
X-GNOME-FullName[nds]=gedit textbewarker
X-GNOME-FullName[nl]=gedit-teksteditor
X-GNOME-FullName[nn]=gedit skriveprogram
X-GNOME-FullName[or]=gedit ପାଠ୍ଯ ସମ୍ପାଦକ
X-GNOME-FullName[pa]=ਜੀ-ਸੰਪਾਦਕ ਟੈਕਸਟ ਐਡੀਟਰ
X-GNOME-FullName[pl]=Edytor tekstu gedit
X-GNOME-FullName[pt]=Editor de Texto gedit
X-GNOME-FullName[pt_BR]=Editor de texto gedit
X-GNOME-FullName[ro]=Editor de text gedit
X-GNOME-FullName[ru]=Текстовый редактор gedit
X-GNOME-FullName[sk]=gedit - Textový editor
X-GNOME-FullName[sl]=Gedit urejevalnik besedil 
X-GNOME-FullName[sr]=Вилењакова бележница — уређивач текста
X-GNOME-FullName[sr@latin]=Vilenjakova beležnica — uređivač teksta
X-GNOME-FullName[sv]=Textredigeraren gedit
X-GNOME-FullName[ta]=gedit உரை திருத்தி 
X-GNOME-FullName[te]=జిఎడిట్ పాఠ్య కూర్పకము
X-GNOME-FullName[th]=เครื่องมือแก้ไขข้อความ gedit
X-GNOME-FullName[tr]=gedit Metin Düzenleyici
X-GNOME-FullName[ug]=gedit تېكىست تەھرىرلىگۈچ
X-GNOME-FullName[uk]=Текстовий редактор gedit
X-GNOME-FullName[vi]=gedit Bộ soạn văn bản
X-GNOME-FullName[zh_CN]=gedit 文本编辑器
X-GNOME-FullName[zh_HK]=gedit 文字編輯器
X-GNOME-FullName[zh_TW]=gedit 文字編輯器
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gedit
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.4.2
X-GNOME-Bugzilla-ExtraInfoScript=/usr/lib/gedit/gedit-bugreport.sh
Actions=Window;Document;

[Desktop Action Window]
Name=gedit
Exec=gedit --new-window
OnlyShowIn=Unity;

[Desktop Action Document]
Name=gedit
Exec=gedit --new-window
OnlyShowIn=Unity;

