[Desktop Entry]
Type=Application
Name=Create Launcher on the panel
Name[ar]=أنشئ مُطْلِق في اللوحة
Name[ca]=Crea un llançador al quadre
Name[cs]=Vytvořit spouštěč na panelu
Name[da]=Opret opstarter på panelet
Name[de]=Starter zur Leiste hinzufügen
Name[el]=Δημιουργία εκκινητή στο ταμπλό
Name[en_GB]=Create Launcher on the panel
Name[es]=Crear lanzador en el panel
Name[et]=Loo ribale käivitaja
Name[eu]=Sortu abiarazle bat panelean
Name[fi]=Lisää käynnistin paneeliin
Name[fr]=Créer un lanceur sur le tableau de bord
Name[gl]=Crear un iniciador no panel
Name[he]=יצירת משגר על הלוח
Name[hr]=Napravi pokretač na ploči
Name[hu]=Parancsikon létrehozása a panelen
Name[id]=Buat Peluncur di panel
Name[it]=Crea un avviatore sul pannello
Name[ja]=Xfce パネルにランチャーを作成
Name[kk]=Панельде жөнелткішті жасау
Name[ko]=패널에 실행 아이콘 만들기
Name[lt]=Sukurti leistuką ant skydelio
Name[nb]=Lag snarvei på panelet
Name[nl]=Maak starter op de werkbalk
Name[nn]=Lag ein startar på panelet
Name[pl]=Dodanie aktywatora do panelu
Name[pt]=Criar lançador no painel
Name[pt_BR]=Criar lançador no painel
Name[ro]=Creați un lansator în panou
Name[ru]=Создать значок запуска на панели
Name[sk]=Vytvoriť spúšťač na paneli
Name[sv]=Skapa programstartare på panelen
Name[te]=ప్యానల్ పై ప్రారంభకాన్ని సృష్టించు
Name[tr]=Xfce Panelinde Başlatıcı oluştur
Name[uk]=Створити запускач на панелі
Name[zh_CN]=在面板上创建启动器
Name[zh_TW]=於面板上建立啟動器
Comment=Add a new launcher to the panel based on the information of this desktop file
Comment[ar]=أضف مُطْلِق جديد إلى اللوحةبالاستناد لمعلومات لملف سطح المكتب هذا
Comment[ca]=Afegeix un nou llançador al panell basant-se en la informació d'aquest fitxer d'escriptori
Comment[cs]=Přidat na panel nový spouštěč založený na informacích ze souboru plochy
Comment[da]=Føj en ny opstarter til panelet baseret på informationen fra denne skrivebordsfil
Comment[de]=Einen neuen Starter zur Leiste hinzufügen anhand der Informationen in der Desktop-Datei
Comment[el]=Δημιουργία νέου εκκινητή στο ταμπλό από αυτό το αρχείο .desktop
Comment[en_GB]=Add a new launcher to the panel based on the information of this desktop file
Comment[es]=Añadir un lanzador nuevo al panel, basándose en la información de este archivo de configuración.
Comment[et]=Lisa ribale uus käivitaja selle töölaua faili teabe põhjal
Comment[eu]=Gehitu abiarazle berri bat panelera mahaigain fitxategi honen argibideetan oinarriturik
Comment[fi]=Luo käynnistin paneeliin tämän työpöytätiedoston tietojen perusteella
Comment[fr]=Ajouter un nouveau lanceur dans le tableau de bord avec les informations de ce fichier desktop
Comment[gl]=Engadir un novo iniciador ao panel baseándose na información deste ficheiro desktop
Comment[he]=הוספת משגר חדש ללוח בהתבסס על הפרטים שבקובץ שולחן עבודה זה
Comment[hr]=Na ploču dodaj novi pokretač koji je baziran na informacijama ove datoteke radne površine
Comment[hu]=Új parancsikon panelhez adása ezen asztali fájl információi alapján
Comment[id]=Tambah sebuah peluncur ke panel berdasarkan informasi dari berkas desktop ini
Comment[it]=Aggiunge un nuovo avviatore sul pannello sulla base delle informazioni contenute in questo file desktop
Comment[ja]=このデスクトップファイルの情報を基にパネルに新しいランチャーを追加します。
Comment[kk]=Бұл desktop файлының ақпараты негізінде панельге жаңа жөнелткішті қосу
Comment[ko]=이 데스크톱 파일의 정보에 기반하여 새로운 실행 아이콘을 패널에 등록
Comment[lt]=Pridėti naują leistuką į skydelį, remiantis šio darbalaukio failo informacija
Comment[nb]=Legg til ny programstarter til panelet basert på informasjonen i denne skrivebordsfilen
Comment[nl]=Voeg een nieuwe starter toe aan de werkbalk, gebaseerd op de informatie van dit bureaubladbestand
Comment[nn]=Legg til ein ny startar på panelet ut frå opplysingane i denne skrivebordsfila
Comment[pl]=Dodaje do panelu aplet aktywatora wykorzystując do tego wskazany plik .desktop
Comment[pt]=Adicionar um novo lançador ao painel com base nas informações deste ficheiro desktop
Comment[pt_BR]=Adicionar um novo lançador ao painel baseado na informação deste arquivo de área de trabalho
Comment[ro]=Adăugați un nou lansator în panou utilizând informațiile din acest fișier desktop
Comment[ru]=Создать значок запуска для приложения, описываемого этим desktop-файлом
Comment[sk]=Pridať na panel nový spúšťač založený na informáciách zo súboru plochy
Comment[sv]=Lägg till en ny programstartare till panelen baserat på informationen i denna skrivbordsfil
Comment[tr]=Bu masaüstü dosyası bilgisine dayalı olarak panele yeni bir başlatıcı ekle
Comment[uk]=Додати новий запускач до панелі на основі інформації з його desktop файлу
Comment[zh_CN]=基于此桌面文件的信息在面板上添加一个新的启动器
Comment[zh_TW]=加入新的啟動器 (以此桌面檔資訊為基礎) 至面板
Exec=xfce4-panel --add=launcher %u
Icon=application-x-executable
Terminal=false
NoDisplay=true
StartupNotify=false
MimeType=application/x-desktop;

