[Desktop Entry]
Version=1.0
Name=图片查看器
Name[ar]=عارض الصور Ristretto
Name[bg]=Програма за преглед на изображения Ristretto
Name[ca]=Visor d'imatges Ristretto
Name[cs]=Prohlížeč fotografií Ristretto
Name[da]=Ristretto billedfremviser
Name[de]=Ristretto Bildbetrachter
Name[el]=Προβολέας εικόνων ristretto
Name[en_GB]=Ristretto Image Viewer
Name[es]=Visor de Imágenes Ristretto
Name[eu]=Ristretto argazki ikustatzailea
Name[fi]=Ristretto-kuvakatselin
Name[fr]=Visionneuse d’Images Ristretto
Name[gl]=Visor de imaxes Ristretto
Name[hr]=Ristretto preglednik fotografija
Name[hu]=Ristretto képmegjelenítő
Name[id]=Penilik Gambar Ristretto
Name[is]=Ristretto Myndaskoðari
Name[it]=Visualizzatore di immagini Ristretto
Name[ja]=Ristretto 画像ビューアー
Name[ko]=리스트레또 그림 보기
Name[lt]=Ristretto paveikslėlių peržiūros programa
Name[nl]=Ristretto afbeeldingkijker
Name[pl]=Przeglądarka obrazów Ristretto
Name[pt]=Visualizador de imagens Ristretto
Name[pt_BR]=Visualizador de imagens Ristretto
Name[ro]=Vizualizare de imagini Ristretto
Name[ru]=Просмотр изображений Ristretto
Name[sk]=Prehliadač obrázkov Ristretto
Name[sr]=Прегледник слика Ристрето
Name[te]=రిస్ట్రెట్టో ప్రతిబింబ వీక్షకం
Name[tr]=Ristretto Resim Gösterici
Name[ug]=رىسترېتتو(Ristretto) سۈرەت كۆرگۈ
Name[uk]=Переглядач фотографій Ristretto
Name[zh_CN]=Ristretto 图片查看器
Name[zh_TW]=Ristretto 影像檢視器
Comment=Look at your images easily
Comment[ar]=استعرض صورك بسهول
Comment[bg]=Разглеждайте снимките си лесно
Comment[ca]=Veieu les vostres imatges fàcilment
Comment[cs]=Prohlížejte si obrázky jednoduše
Comment[da]=Se nemt dine billeder
Comment[de]=Bilder anschauen leicht gemacht
Comment[el]=Δείτε τις εικόνες σας εύκολα
Comment[en_GB]=Look at your images easily
Comment[es]=Mire sus imágenes fácilmente
Comment[eu]=Ikusi zure irudiak erraz
Comment[fi]=Katsele kuviasi helposti
Comment[fr]=Visionner vos images facilement
Comment[gl]=Mire as súas imaxes sen complicarse
Comment[hr]=Pogledajte lako svoje fotografije 
Comment[hu]=Képek egyszerű megjelenítése
Comment[id]=Lihat foto anda dengan mudah
Comment[is]=Skoðaðu myndirnar þínar
Comment[it]=Guardare le proprie foto con semplicità
Comment[ja]=気軽に画像を見ましょう
Comment[ko]=그림을 쉽게 봅니다
Comment[lt]=Peržiūrėkite savo paveikslėlius paprastai
Comment[nl]=Kijk gemakkelijk naar uw afbeeldingen
Comment[pl]=Umożliwia wygodne przeglądanie zdjęć i obrazów
Comment[pt]=Ver fotos facilmente
Comment[pt_BR]=Veja suas imagens facilmente
Comment[ro]=Pentru un acces rapid la imagini
Comment[ru]=Просмотр фотографий — это просто
Comment[sk]=Prezerajte obrázky jednoduchšie
Comment[sr]=Прегледајте лако своје слике
Comment[te]=మీ బొమ్మలను సులభంగా వీక్షించండి
Comment[tr]=Fotoğraflarına kolayca bak
Comment[ug]=سۈرەتلەرنى ئوڭاي كۆرەلەيسىز
Comment[uk]=Легко переглядайте Ваші фотографії
Comment[zh_CN]=轻松地看您的图片
Comment[zh_TW]=輕鬆查看您的影像
GenericName=Image Viewer
GenericName[ar]=عارض الصور
GenericName[ast]=Visor d'imáxenes
GenericName[bg]=Програма за преглед на изображения
GenericName[ca]=Visor d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Εφαρμογή προβολής εικόνων
GenericName[en_GB]=Image Viewer
GenericName[es]=Visor de imágenes
GenericName[eu]=Irudi ikustatzailea
GenericName[fi]=Kuvakatselin
GenericName[fr]=Visionneuse d’images
GenericName[gl]=Visor de imaxes
GenericName[hr]=Preglednik slika
GenericName[hu]=Képmegjelenítő
GenericName[id]=Penilik Gambar
GenericName[is]=Myndskoðari
GenericName[it]=Visualizzatore di immagini
GenericName[ja]=画像ビューアー
GenericName[ko]=그림 보기
GenericName[lt]=Paveikslėlių peržiūros programa
GenericName[lv]=Attēlu Skatītājs
GenericName[nb]=Bildefremviser
GenericName[nl]=Afbeeldingkijker
GenericName[pl]=Przeglądarka obrazów
GenericName[pt]=Visualizador de imagens
GenericName[pt_BR]=Visualizador de Imagens
GenericName[ro]=Vizualizare de imagini
GenericName[ru]=Просмотр изображений
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Pregledovalnik Slik
GenericName[sr]=Прегледач слика
GenericName[sv]=Bildvisare
GenericName[te]=ప్రతిబింబ వీక్షకం
GenericName[tr]=Resim Gösterici
GenericName[ug]=سۈرەت كۆرگۈ
GenericName[uk]=Переглядач зображень
GenericName[ur]=تصاویر منظر کار
GenericName[ur_PK]=تصاویر منظر کار
GenericName[vi]=Trình xem ảnh
GenericName[zh_CN]=图片查看器
GenericName[zh_TW]=影像檢視器
Exec=ristretto %F
Icon=ristretto
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=GTK;Graphics;Viewer;GTK;
StartupNotify=true
MimeType=image/png;image/gif;image/jpeg;image/bmp;image/tiff;image/svg+xml;image/x-xpixmap;image/x-xpm;image/x-cmu-raster;image/x-ico;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-sun-raster;image/x-tga;image/x-win-bitmap;image/x-xbitmap;

