[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-startcenter
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Exec=libreoffice %U
MimeType=application/vnd.openofficeorg.extension;
Name=新建文档
GenericName=Office 
GenericName[zu]=Ihhovisi
Comment=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
Comment[zu]=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.

