[Desktop Entry]
Name=Search and Indexing
Name[ar]=البحث والفهرسة
Name[be]=Пошук і індэксаваньне
Name[be@latin]=Pošuk i indeksavańnie
Name[ca]=Cerca i indexació
Name[ca@valencia]=Cerca i indexació
Name[cs]=Hledání a indexování
Name[da]=Søgning og indeksering
Name[de]=Suche und Indizierung
Name[el]=Αναζήτηση και δεικτοδότηση
Name[en_GB]=Search and Indexing
Name[es]=Búsqueda e indexado
Name[et]=Otsimine ja indekseerimine
Name[fi]=Haku ja indeksointi
Name[fr]=Recherche et indexation
Name[gl]=Busca e indexación
Name[hu]=Keresés és indexelés
Name[id]=Pencarian dan Pengindeksan
Name[it]=Ricerca e indicizzazione
Name[ja]=検索とインデックス生成
Name[ko]=찾기와 인덱싱
Name[lt]=Paieška ir indeksavimas
Name[nb]=Søk og indeksering
Name[nl]=Zoeken en indexeren
Name[pl]=Wyszukiwanie i indeksowanie
Name[pt]=Procura e Indexação
Name[pt_BR]=Pesquisa e Indexação
Name[ro]=Căutare și indexare
Name[ru]=Поиск и индексирование
Name[sk]=Hľadanie a indexovanie
Name[sl]=Iskanje in priprava kazala
Name[sr]=Претрага и индексирање
Name[sr@latin]=Pretraga i indeksiranje
Name[sv]=Sökning och indexering
Name[th]=การค้นหาและการทำดัชนี
Name[zh_CN]=搜索和索引
Comment=Configure file indexing with Tracker
Comment[ar]=اضبط فهرسة الملفات بالمقتفي
Comment[be@latin]=Skanfihuruj indeksavańnie fajłaŭ Trackeram
Comment[ca]=Configureu la indexació de fitxers del Tracker
Comment[ca@valencia]=Configureu la indexació de fitxers amb el Tracker
Comment[cs]=Nastavit indexování souborů prohledávačem Tracker
Comment[da]=Indstil filindeksering med Tracker
Comment[de]=Indizierungseinstellungen von Tracker einstellen
Comment[el]=Ρύθμιση δεικτοδότησης αρχείου με Tracker
Comment[en_GB]=Configure file indexing with Tracker
Comment[es]=Configure el indexado de archivos con Tracker
Comment[et]=Trackeri failide indekseerimise seadistus
Comment[fi]=Muuta Tracker-tiedostoindeksoinnin asetuksia
Comment[fr]=Configurer l'indexation des fichiers avec Tracker
Comment[gl]=Configurar a indexación de ficheiros co Tracker
Comment[hu]=A fájlindexelés beállítása
Comment[id]=Tata pengindeksan berkas dengan Tracker
Comment[it]=Configura l'indicizzazione dei file con Tracker
Comment[ja]=Tracker でファイルのインデックス化の設定を行います
Comment[ko]=트래커 파일 인덱싱 설정
Comment[lt]=Konfigūruoti failų indeksavimą su Tracker
Comment[nb]=Konfigurer filindeksering med Tracker
Comment[nl]=Bestandsindexering met Tracker instellen
Comment[pl]=Konfiguracja indeksowania plików za pomocą programu Tracker
Comment[pt]=Configurar a indexação de ficheiros com o Tracker
Comment[pt_BR]=Configure a indexação de arquivos com o Tracker
Comment[ro]=Configurare indexare fișiere cu Tracker
Comment[ru]=Настройка индексирования файлов службой Tracker
Comment[sk]=Nastavovať indexovanie súborov s programom Tracker
Comment[sl]=Nastavitev priprave kazala datotek
Comment[sr]=Подесите индексирање датотека уз помоћ Трагача
Comment[sr@latin]=Podesite indeksiranje datoteka uz pomoć Tragača
Comment[sv]=Konfigurera filindexering med Tracker
Comment[th]=ตั้งค่าการทำดัชนีแฟ้มของ Tracker
Comment[zh_CN]=配置 Tracker 文件索引
Icon=tracker
Exec=tracker-preferences
Terminal=false
Type=Application
Categories=System;X-SuSE-Core-System;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Tracker Preferences
X-GNOME-Bugzilla-Version=0.14.2

