[Desktop Entry]
Name=Desktop Search
Name[ar]=بحث سطح المكتب
Name[ca]=Cerca a l'escriptori
Name[cs]=Prohledávání pracovního prostředí
Name[da]=Skrivebordssøgning
Name[de]=Desktop-Suche
Name[el]=Αναζήτηση επιφάνειας εργασίας
Name[en_GB]=Desktop Search
Name[es]=Búsquedas de Escritorio
Name[fi]=Työpöytähaku
Name[fr]=Recherche sur cet ordinateur
Name[gl]=Buscas de escritorio
Name[hu]=Asztali keresés
Name[id]=Pencarian Desktop
Name[it]=Ricerca desktop
Name[ja]=デスクトップの検索
Name[lt]=Darbastalio paieška
Name[nb]=Skrivebordssøk
Name[pl]=Wyszukiwanie na pulpicie
Name[pt_BR]=Pesquisa na área de trabalho
Name[ro]=Căutare pe desktop
Name[ru]=Поиск данных
Name[sl]=Namizno iskanje
Name[sr]=Претрага радне површи
Name[sr@latin]=Pretraga radne površi
Name[sv]=Skrivbordssökning
Name[te]=డెస్క్‍టాప్ శోధన
Name[zh_CN]=桌面搜索
Comment=Find what you're looking for on this computer by name or content using Tracker
Comment[ar]=اعثر على ما تبحث عنه في هذا الحاسوب بالاسم أو المحتوى مستخدما المُقتفي
Comment[ca]=Trobeu el que esteu buscant a l'ordinador ja sigui per nom o pel seu contingut utilitzant el Tracker
Comment[cs]=Nalézt to, co hledáte, na tomto počítači podle názvu nebo obsahu pomocí vyhledávače Tracker
Comment[da]=Find det du leder efter på denne computer ud fra navn eller indhold med Tracker
Comment[de]=Tracker erlaubt es, auf diesem Rechner nach dem Namen oder Inhalten suchen
Comment[el]=Εύρεση αναζήτησης σε αυτόν τον υπολογιστή κατ' όνομα ή περιεχόμενο χρησιμοποιώντας τον Tracker
Comment[en_GB]=Find what you're looking for on this computer by name or content using Tracker
Comment[es]=Encuentre lo que está buscando por nombre o contenido en este equipo usando Tracker
Comment[fi]=Löydä etsimäsi nimen tai sisällön perusteella käyttäen Trackeria
Comment[fr]=Trouver ce que vous cherchez sur cet ordinateur par son nom ou son contenu en utilisant Tracker
Comment[gl]=Atope o que está buscando por nome o contido neste equipo usando Tracker
Comment[hu]=Keresett fájlok megtalálása a számítógépen név vagy tartalom szerint a Tracker segítségével
Comment[id]=Temukan apa yang Anda cari pada komputer ini berdasarkan nama atau isi memakai Pelacak
Comment[it]=Individua per nome o contenuto usando Tracker ciò che si cerca su questo computer
Comment[ja]=Tracker を使い名前や内容でコンピューター上のドキュメントやフォルダーの場所を検索します
Comment[lt]=Naudodami Tracker rasite kompiuteryje dokumentus ir aplankus pagal pavadinimą arba turinį
Comment[nb]=Finn det du leter etter på denne datamaskinen med navn eller innhold ved bruk av Tracker
Comment[pl]=Wyszukiwanie na tym komputerze według nazwy lub treści używając programu Tracker
Comment[pt_BR]=Localizar o que você está procurando neste computador por nome ou conteúdo usando o Tracker
Comment[ro]=Găsiți ceea ce căutați pe acest computer după nume sau conținut folosind Tracker
Comment[ru]=Поиск данных по имени или содержимому с помощью Tracker
Comment[sl]=Poiščite kar iščete na tem računalniku po imenu ali vsebini z uporabo Trackerja
Comment[sv]=Sök efter det du letar efter på denna dator efter namn eller innehåll med Tracker
Comment[zh_CN]=在计算机上用 Tracker 按名称或内容查找需要的内容
Exec=tracker-needle
Icon=system-search
Terminal=false
Type=Application
Categories=GTK;Utility;X-SuSE-DesktopUtility;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Tracker Needle
X-GNOME-Bugzilla-Version=0.14.2


