[Desktop Entry]
Name=Session and Startup
Name[ar]=الجلسة والبدء التشغيل
Name[ast]=Sesión y entamu
Name[be]=Сэансы й запуск
Name[bg]=Сесия и стартиране
Name[bn]=সেশন এবং আরম্ভ
Name[ca]=Sessió i engegada
Name[cs]=Relace a spouštění
Name[da]=Session og opstart
Name[de]=Sitzung und Startverhalten
Name[el]=Συνεδρία και Εκκίνηση
Name[en_GB]=Session and Startup
Name[es]=Sesión e inicio
Name[eu]=Saioa eta abiaraztea
Name[fi]=Istunto ja käynnistys
Name[fr]=Session et démarrage
Name[gl]=Sesión e inicio
Name[hr]=Sesija i pokretanje
Name[hu]=Munkamenet és indítás
Name[id]=Sesi dan Hidupkan
Name[it]=Sessione e avvio
Name[ja]=セッションと起動
Name[kk]=Сессия мен қосылу
Name[ko]=세션 및 시동
Name[lt]=Seansai ir paleidimas
Name[lv]=Sesijas uz palaišanās
Name[nb]=Økt og oppstart
Name[nl]=Sessie en opstart
Name[nn]=Økt og oppstart
Name[pl]=Sesja i uruchamianie
Name[pt]=Sessão e arranque
Name[pt_BR]=Sessão e Inicialização
Name[ro]=Sesiuni și pornire
Name[ru]=Сеансы и запуск
Name[sk]=Sedenie a spúšťanie
Name[sq]=Sesion dhe Nisje
Name[sv]=Session och uppstart
Name[te]=సెషన్ మరియు ప్రారంభము
Name[tr]=Oturum ve Başlangıç
Name[ug]=ئەڭگىمە ۋە قوزغىتىش
Name[uk]=Сеанси та запуск
Name[ur]=نشست اور سٹارٹ اپ
Name[ur_PK]=نشست اور سٹارٹ اپ
Name[zh_CN]=会话和启动
Name[zh_TW]=工作階段與初始啟動
Comment=Customize desktop startup and splash screen
Comment[ar]=بدء التشغيل و شاشة البدء مخصصة لسطح المكتب
Comment[ast]=Personalice la pantalla d'entamu de sesión del escritoriu
Comment[be]=Індывідуалізаваць запуска асяродзьдзя й застаўку на ўваход
Comment[bg]=Промени стартирането на десктопа и splash екрана
Comment[bn]=ডেস্কটপ আরম্ভ এবং স্প্ল্যাশ স্ক্রীন স্বনির্ধারণ
Comment[ca]=Personalitza l'inici de l'escriptori així com llur pantalla de presentació
Comment[cs]=Přizpůsobte si spouštění pracovního prostředí a uvítací obrazovky
Comment[da]=Tilpas skrivebordsopstart- og opstartsbilled-skærm
Comment[de]=Passen Sie das Startverhalten der Arbeitsumgebung und den Startbildschirm an Ihre Bedürfnisse an
Comment[el]=Παραμετροποίηση της επιφάνειας εκκίνησης και της οθόνης εισόδου
Comment[en_GB]=Customise desktop startup and splash screen
Comment[es]=Personalice la pantalla de inicio de sesión del escritorio
Comment[eu]=Pertsonalizatu idazmahai abiarazte eta abiarazpen pantaila
Comment[fi]=Mukauta työpöydän käynnistystä ja käynnistyskuvaa
Comment[fr]=Personnaliser le démarrage du bureau Xfce
Comment[gl]=Personalizar o inicio e a pantalla de benvida do escritorio
Comment[hr]=Podesite detalja pokretanja sustava
Comment[hu]=A környezet indításának és az indítókép személyre szabása
Comment[id]=Sesuaikan hidupkan destop dan layar splash
Comment[it]=Personalizzazione dell'avvio e della relativa schermata
Comment[ja]=デスクトップの起動と起動画面をカスタマイズします
Comment[kk]=Жұмыс үстелінің қосылу мен сплэш экраның баптау
Comment[ko]=데스크톱 시동과 시작 화면을 설정합니다
Comment[lt]=Derinkite darbastalio paleidimą ir pasveikinimo langą
Comment[lv]=Pielāgot darbvirsmas palaišanos un uzplaiksnījuma ekrānu
Comment[nb]=Tilpass skrivebordsoppstart og velkomstbilde
Comment[nl]=Pas de bureaublad-opstart en het laadscherm aan
Comment[nn]=Set opp oppstarten og velkomstbiletet
Comment[pl]=Konfiguruje uruchamianie środowiska graficznego i ekran powitalny
Comment[pt]=Personalizar arranque e ecrã inicial do ambiente
Comment[pt_BR]=Personaliza a inicialização do ambiente de trabalho e a tela de abertura
Comment[ro]=Personalizați inițializarea desktopului și tema de pornire
Comment[ru]=Настройте параметры запуска рабочего стола и заставки
Comment[sk]=Prispôsobte si spúšťanie pracovného prostredia a úvodnej obrazovky
Comment[sq]=Përshtasni desktopin dhe skenën e siglës
Comment[sv]=Anpassa skrivbordsuppstart och startbild
Comment[tr]=Masaüstü başlangıcını ve açılış ekranını özelleştir
Comment[ug]=ئۈستەليۈزىنى قوزغىتىش ۋە قوزغىلىش ئېكراننى ئۆزلەشتۈرۈش
Comment[uk]=Налаштувати запуск стільниці і екран заставки
Comment[ur]=ڈیسک ٹاپ سٹارٹ اپ اور سپلیش سکرین وضع کریں
Comment[ur_PK]=ڈیسک ٹاپ سٹارٹ اپ اور سپلیش سکرین وضع کریں
Comment[zh_CN]=自定义桌面启动和启动屏幕
Comment[zh_TW]=自訂桌面初始啟動與開機畫面
Exec=xfce4-session-settings
Icon=xfce4-session
Terminal=false
StartupNotify=true
Type=Application
Categories=XFCE;X-XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpComponent=xfce4-session
X-XfceHelpPage=preferences

