[Desktop Entry]
X-SuSE-translate=true
Version=1.0
Type=Application
Name=便签
Comment=Ideal for your quick notes
TryExec=xfce4-notes
Exec=xfce4-notes
Icon=xfce4-notes-plugin
Terminal=false
Categories=GTK;Utility;TrayIcon;
OnlyShowIn=XFCE;GNOME;
StartupNotify=false

