
[Desktop Entry]
X-SuSE-translate=true
Version=1.0
Name=MIME类型编辑器
Comment=Associate applications with MIME types
Exec=xfce4-mime-settings
Icon=application-x-executable
Terminal=false
Type=Application
Categories=XFCE;X-XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
OnlyShowIn=XFCE;

