[Desktop Entry]
Version=1.0
Name=Workspaces
Name[am]=የስራ ገበታ
Name[ar]=مساحات العمل
Name[ast]=Estayes de trabayu
Name[az]=İş Sahələri
Name[be]=Працоўныя прасторы
Name[bn]=কর্মপরিসর
Name[bn_IN]=কর্মক্ষেত্র
Name[ca]=Espais de treball
Name[cs]=Pracovní plochy
Name[da]=Arbejdsområder
Name[de]=Arbeitsflächen
Name[dz]=ལཱ་གི་ས་སྒོ་ཚུ།
Name[el]=Χώροι εργασίας
Name[en_GB]=Workspaces
Name[eo]=Laborspacoj
Name[es]=Áreas de trabajo
Name[es_MX]=Escritorios
Name[et]=Tööruumid
Name[eu]=Idazmahaiak
Name[fa]=فضاهای کاری
Name[fi]=Työtilat
Name[fr]=Espaces de travail
Name[gl]=Espazos de traballo
Name[gu]=કામ કરવાની જગ્યાઓ
Name[he]=סביבות עבודה
Name[hr]=Radni prostori
Name[hu]=Munkaterületek
Name[id]=Ruang Kerja
Name[is]=Vinnusvæði
Name[it]=Spazi di lavoro
Name[ja]=ワークスペース
Name[kk]=Жұмыс орындары
Name[ko]=작업공간
Name[lt]=Darbalaukiai
Name[lv]=Darbavietas
Name[mk]=Работни површи
Name[mr]=कार्यक्षेत्रे
Name[ms]=Ruangkerja
Name[nb]=Arbeidsområde
Name[nl]=Werkbladen
Name[nn]=Arbeidsområde
Name[pa]=ਵਰਕਸਪੇਸ
Name[pl]=Obszary robocze
Name[pt]=Áreas de trabalho
Name[pt_BR]=Espaços de trabalho
Name[ro]=Spații de lucru
Name[ru]=Рабочие места
Name[si]=වැඩ අවකාශ
Name[sk]=Pracovné plochy
Name[sq]=Hapësira pune
Name[sv]=Arbetsytor
Name[te]=కార్యక్షేత్రాలు
Name[tr]=Çalışma Alanları
Name[ug]=خىزمەت مۇھىتلىرى
Name[uk]=Робочі області
Name[ur]=مقام کار
Name[ur_PK]=مقام کار
Name[vi]=Vùng làm việc
Name[zh_CN]=工作区
Name[zh_TW]=工作區
Comment=Configure layout, names and margins
Comment[ca]=Configura la disposició, els noms i els marges
Comment[cs]=Konfiguruje rozvržení, názvy a okraje
Comment[da]=Indstil layout, navne og marginer
Comment[el]=Ρύθμιση διάταξης, ονόματα και περιθώρια
Comment[en_GB]=Configure layout, names and margins
Comment[es]=Configurar distribución, nombres y márgenes
Comment[eu]=Konfiguratu diseinua, izenak eta ertzak
Comment[fi]=Muokkaa asettelua, nimiä ja reunuksia
Comment[fr]=Configurer l'agencement, les noms et les marges
Comment[gl]=Configurar a disposición, os nomes e as marxes
Comment[hu]=Elrendezés, nevek és margók beállítása
Comment[it]=Configurazione della disposizione, dei nomi e dei margini
Comment[ja]=レイアウト、名前、および余白を設定します
Comment[kk]=Жайма, атауларды мен өрістерді баптау
Comment[ko]=배치, 이름, 여백을 설정합니다
Comment[lt]=Konfigūruokite išdėstymus, pavadinimus ir paraštes
Comment[nl]=Vormgeving, namen en marges instellen
Comment[nn]=Set opp utforming, namn og margar
Comment[pt]=Configurar esquema, nomes e margens
Comment[pt_BR]=Configura layout, nomes e margens
Comment[ro]=Personalizați-le numele, aspectul și marginile
Comment[ru]=Настроить  поведение окон и комбинаций клавиш
Comment[sk]=Nastavenie rozloženia, názvov a okrajov
Comment[uk]=Конфігурація розкладки, назв та полів
Comment[zh_CN]=配置布局、名称和边缘
Comment[zh_TW]=設定配置、名稱與邊緣
Exec=xfwm4-workspace-settings
Icon=xfce4-workspaces
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
OnlyShowIn=XFCE;
X-XfcePluggable=true
X-XfceHelpComponent=xfwm4
X-XfceHelpPage=workspaces

