[Desktop Entry]
X-SuSE-translate=true
NoDisplay=true
Categories=Utility;X-SuSE-DesktopUtility;
Encoding=UTF-8
Name=X杀死
GenericName=Window Termination Tool
Exec=xkill
Terminal=false
Icon=xkill
Type=Application

