[Desktop Entry]
X-SuSE-translate=true
NoDisplay=true
Categories=Utility;X-SuSE-DesktopUtility;
Encoding=UTF-8
Name=X刷新
GenericName=Refresh Screen
Exec=xrefresh
Terminal=false
Icon=xrefresh
Type=Application

