[Desktop Entry]
Name=Nepomuk File Indexing Controller
Name[bg]=Управление на файлово индексиране с Nepomuk
Name[bs]=Nepomuk kontrolor indeksiranja datoteka
Name[ca]=Controlador de l'indexador de fitxers Nepomuk
Name[ca@valencia]=Controlador de l'indexador de fitxers Nepomuk
Name[cs]=Správce indexování souborů Nepomuku
Name[da]=Kontrol af Nepomuk filindeksering
Name[de]=Steuerung der Nepomuk-Datei-Indizierung
Name[el]=Ελεγκτής δεικτοδότησης αρχείων του Nepomuk
Name[es]=Controlador de indexado de archivos de Nepomuk
Name[et]=Nepomuki failide indekseerimise kontroller
Name[eu]=Nepomuken fitxategiak indexatzeko kontrolatzailea
Name[fa]=کنترل کننده‌ی فهرست کننده‌ی پرونده‌ی Nepomuk
Name[fi]=Nepomukin tiedostojen indeksoinnin hallinta
Name[fr]=Contrôleur d'indexation de fichiers de Nepomuk
Name[ga]=Rialaitheoir Innéacsaithe Nepomuk
Name[gl]=Controlador da indexación de ficheiros de Nepomuk
Name[hr]=Nepomukov upravljač za indeksiranje datoteka
Name[hu]=Nepomuk fájlindexelő-felügyelő
Name[ia]=Controlator de indicisation de file de Nepomuk
Name[id]=Pengendali Indeks Berkas Nepomuk
Name[is]=Nepomuk skráaskráningarstýring
Name[it]=Controllore dell'indicizzazione file di Nepomuk
Name[kk]=Nepomuk файл индекстеу контроллері
Name[km]=កម្មវិធី​ត្រួតពិនិត្យ​ការ​ដាក់​លិបិក្រម​ឯកសារ​របស់ Nepomuk
Name[ko]=Nepomuk 파일 인덱싱 컨트롤러
Name[lt]=Nepomuk failų indeksavimo valdiklis
Name[lv]=Nepomuk failu indeksēšanas kontrolieris
Name[nb]=Styring for Nepomuk filindeksering
Name[nds]=Dateiindizeren för Nepomuk
Name[nl]=Besturing door Nepomuk van bestandenindexering
Name[nn]=Nepomuk filindekseringskontroll
Name[pa]=ਨਿਪੋਮੁਕ ਫਾਇਲ ਇੰਡੈਕਸਿੰਗ ਕੰਟਰੋਲਰ
Name[pl]=Kontroler indeksowania plików Nepomuk
Name[pt]=Controlador de Indexação de Ficheiros do Nepomuk
Name[pt_BR]=Controlador de indexação de arquivos do Nepomuk
Name[ro]=Controlor al indexatorului de fișiere Nepomuk
Name[ru]=Управление индексированием файлов в Nepomuk
Name[si]=Nepomuk ගොනු සූචිකරණ පාලකය
Name[sk]=Radič indexovania súborov Nepomuk
Name[sl]=Nadzorovalnik indeksiranja datotek Nepomuk
Name[sr]=Непомуков управљач индексирањем фајлова
Name[sr@ijekavian]=Непомуков управљач индексирањем фајлова
Name[sr@ijekavianlatin]=Nepomukov upravljač indeksiranjem fajlova
Name[sr@latin]=Nepomukov upravljač indeksiranjem fajlova
Name[sv]=Nepomuk-styrning av filindexering
Name[tg]=Бозраси файлҳои индекси Nepomuk
Name[tr]=Nepomuk Dosya İndeksleme Kontrolcüsü
Name[ug]=Nepomuk ھۆججەت ئىندېكسلاش تىزگىنلىگۈچ
Name[uk]=Засіб керування індексуванням файлів у Nepomuk
Name[vi]=Trình điều khiển lập chỉ mục tập tin Nepomuk
Name[wa]=Controleu d' indecsaedje des fitchîs di Nepomuk
Name[x-test]=xxNepomuk File Indexing Controllerxx
Name[zh_CN]=Nepomuk 文件索引控制器
Name[zh_TW]=Nepomuk 檔案索引控制器
Comment=System tray icon to control the behaviour of the Nepomuk file indexer
Comment[bg]=Икона в системния поднос за управление на файлово индексиране с Nepomuk
Comment[bs]=Ikona u sistemskom uglu za kontrolu ponapanja Nepomuk indeksiranja datoteka
Comment[ca]=Icona de la safata del sistema per controlar el comportament de l'indexador de fitxers Nepomuk
Comment[ca@valencia]=Icona de la safata del sistema per controlar el comportament de l'indexador de fitxers Nepomuk
Comment[cs]=Ikona v systémové části panelu pro ovládání chování indexeru souborů Nepomuk
Comment[da]=Statusikon til at kontrollere opførsel af Nepomuk filindeksering
Comment[de]=Symbol im Systemabschnitt der Kontrollleiste, um das Verhalten der Nepomuk-Datei-Indizierung zu steuern
Comment[el]=Εικονίδιο πλαισίου συστήματος για έλεγχο της συμπεριφοράς δεικτοδότησης αρχείων του Nepomuk
Comment[es]=Icono de la bandeja del sistema para controlar el comportamiento de la indexación de archivos de Nepomuk
Comment[et]=Süsteemisalve ikoon Nepomuki failide indekseerimise käitumise juhtimiseks
Comment[eu]=Sistema erretiluko ikonoa Nepomuken fitxategi indexatzailearen portaera kontrolatzeko
Comment[fi]=Ilmoitusaluekuvake Nepomukin tiedostojen indeksoinnin hallintaan
Comment[fr]=Icône de la boîte à miniature contrôlant le comportement de l'indexeur de fichier Nepomuk
Comment[ga]=Deilbhín i dtráidire an chórais a rialaíonn an t-innéacsóir comhad Nepomuk
Comment[gl]=Icona da bandex do sistema para controlar o comportamento do indexador de ficheiros de Nepomuk
Comment[hr]=Ikona u sistemskom bloku za upravljanje ponašanjem Nepomukovog indeksiranja datoteka
Comment[hu]=Paneltálcaikon a Nepomuk fájlindexelő működésének felügyeléséhez
Comment[ia]=Icone de tabuliero de systema per controlar le comportamento del indicisator de file de Nepomuk
Comment[id]=Ikon baki sistem untuk mengontrol perilaku Indeks berkas Nepomuk
Comment[is]=Táknmynd í kerfisbakka til að stýra hegðun Nepomuk skráaskráningarstýringar
Comment[it]=Icona nel vassoio di sistema che controlla il comportamento dell'indicizzatore di file Nepomuk
Comment[kk]=Nepomuk файл индекстеуін басқару үшін жүйелік сөреде таңбашаны көрсету
Comment[km]=រូបតំណាង​ថាស​ប្រព័ន្ធ​ ដើម្បី​ត្រួតពិនិត្យ​ឥរិយាបថ​របស់​កម្មវិធី​ដាក់​លិបិក្រម​ឯកសារ​របស់ Nepomuk
Comment[ko]=Nepomuk 파일 인덱서 제어를 위한 시스템 트레이 아이콘
Comment[lt]=Sisteminio dėklo ženkliukas Nepomuk failų indeksavimo elgsenos valdymui
Comment[lv]=Sistēmas joslas ikona, ar kuru kontrolēt Nepomuk failu indeksētāja uzvedību
Comment[nb]=Ikon i systemkurven som styrer hvordan Nepomuk filindeksering oppfører seg
Comment[nds]=Systeemafsnitt-Lüttbild för de Kuntrull vun den Nepomuk-Dateiindizeerdeenst
Comment[nl]=Pictogram in het systeemvak om het gedrag van bestandenindexering van Nepomuk te besturen
Comment[nn]=Systemtrauikon for å kontrollera Nepomuk filindeksering
Comment[pa]=ਨਿਪੋਮੁਕ ਫਾਇਲ ਇੰਡੈਕਸਰ ਦਾ ਰਵੱਈਆ ਕੰਟਰੋਲ ਕਰਨ ਲਈ ਸਿਸਟਮ ਟਰੇ ਆਈਕਾਨ
Comment[pl]=Ikona w tacce systemowej do kontroli zachowania indeksowania plików Nepomuk
Comment[pt]=Ícone da bandeja para controlar o comportamento de indexação de ficheiros do Nepomuk
Comment[pt_BR]=Ícone da área de notificação para controlar o comportamento de indexação de arquivos do Nepomuk
Comment[ro]=Pictograma din tava de sistem pentru a controla comportamentul indexatorului de fișiere Nepomuk
Comment[ru]=Значок в системном лотке для управления индексированием в Nepomuk
Comment[si]=Nepomuk ගොනු සූචිකාරකයේ හැසිරීම පාලනය කරන පද්ධති තැටි අයිකනය
Comment[sk]=Ikona v system tray na ovládanie správania indexovača súborov Nepomuk
Comment[sl]=Ikona v sistemski vrstici za nadzorovanje delovanja indeksirnika datotek Nepomuk
Comment[sr]=Икона системске касете за управљање Непомуковим индексаром фајлова
Comment[sr@ijekavian]=Икона системске касете за управљање Непомуковим индексаром фајлова
Comment[sr@ijekavianlatin]=Ikona sistemske kasete za upravljanje Nepomukovim indeksarom fajlova
Comment[sr@latin]=Ikona sistemske kasete za upravljanje Nepomukovim indeksarom fajlova
Comment[sv]=Ikon i systembrickan för att styra beteendet hos Nepomuk-filindexering
Comment[tg]=Нишонаи табақаи системавӣ барои идоракунии рафтори файлҳои индекси Nepomuk
Comment[tr]=Nepomuk dosya indeksleyicinin davranışını kontrol eden sistem çekmecesi simgesi
Comment[ug]=سىستېما پەغەز سىنبەلگىسى Nepomuk ھۆججەت ئىندېكىسلىغۇچنىڭ ھەرىكىتىنى تىزگىنلەيدۇ
Comment[uk]=Піктограма системного лотка для керування поведінкою служб індексування файлів Nepomuk
Comment[vi]=Biểu tượng khay hệ thống để điều khiển hành động của trình lập chỉ mục tập tin Nepomuk
Comment[wa]=Imådjetes del boesse ås imådjetes sistinme po controler l' dujhance di l' indecseu d' fitchîs Nepomuk
Comment[x-test]=xxSystem tray icon to control the behaviour of the Nepomuk file indexerxx
Comment[zh_CN]=控制 Nepomuk 文件索引器的系统托盘图标
Comment[zh_TW]=控制 Nepomuk 檔案索引行為的系統匣圖示
Icon=nepomuk
Exec=nepomukcontroller
Type=Application
OnlyShowIn=KDE
Categories=Qt;KDE;System;Archiving;
X-KDE-autostart-after=panel
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
X-KDE-autostart-condition=nepomukserverrc:Basic Settings:Start Nepomuk:true

