[Desktop Entry]
Name=Nepomuk Backup
Name[bg]=Модул за архивиране Nepomuk
Name[bs]=Rezerva Nepomuka
Name[ca]=Còpia de seguretat del Nepomuk
Name[ca@valencia]=Còpia de seguretat del Nepomuk
Name[cs]=Záloha Nepomuku
Name[da]=Nepomuk backup
Name[de]=Nepomuk-Sicherung
Name[el]=Υπηρεσία αντιγράφων ασφαλείας του Nepomuk
Name[en_GB]=Nepomuk Backup
Name[es]=Copia de respaldo de Nepomuk
Name[et]=Nepomuki varundamine
Name[eu]=Nepomuk babeskopia
Name[fa]=پشتیان‌گیری Nepomuk
Name[fi]=Nepomukin varmuuskopiointi
Name[fr]=Service de sauvegarde Nepomuk
Name[ga]=Cúltaca Nepomuk
Name[gl]=Copia de seguranza de Nepomuk
Name[he]=Nepomuk גיבויים
Name[hi]=नेपोमक बेकप
Name[hr]=Nepomukova sigurnosna kopija
Name[hu]=Nepomuk mentés
Name[ia]=Retrocopia de Nepomuk
Name[id]=Backup Nepomuk
Name[is]=Nepomuk öryggisafritun
Name[it]=Copia di sicurezza di Nepomuk
Name[ja]=Nepomuk バックアップ
Name[kk]=Nepomuk сақтық көшірмелеу
Name[km]=ការ​​បម្រុង​ទុក​របស់ Nepomuk
Name[kn]=ನೆಪೋಮುಕ್ ಬ್ಯಾಕ್‌ಅಪ್
Name[ko]=Nepomuk 백업
Name[lt]=Nepomuk atsarginė kopija
Name[lv]=Nepomuk rezerves kopiju veidošana
Name[nb]=Nepomuk sikringskopi
Name[nds]=Nepomuk-Sekerheitkopie
Name[nl]=Nepomuk reservekopie maken
Name[nn]=Reservekopi av Nepomuk
Name[pa]=ਨਿਪੋਮੁਕ ਬੈਕਅੱਪ
Name[pl]=Kopia zapasowa Nepomuka
Name[pt]=Salvaguarda do Nepomuk
Name[pt_BR]=Cópia de segurança do Nepomuk
Name[ro]=Copie de siguranță Nepomuk
Name[ru]=Резервное копирование Nepomuk
Name[si]=Nepomuk උපස්ථ
Name[sk]=Záloha Nepomuku
Name[sl]=Nepomuk Backup
Name[sr]=Резерва Непомука
Name[sr@ijekavian]=Резерва Непомука
Name[sr@ijekavianlatin]=Rezerva Nepomuka
Name[sr@latin]=Rezerva Nepomuka
Name[sv]=Nepomuk säkerhetskopiering
Name[tg]=Нусхаҳои Nepomuk
Name[th]=สำรองข้อมูลบริการ Neomuk
Name[tr]=Nepomuk Yedekleme
Name[ug]=Nepomuk زاپاسلاش
Name[uk]=Резервні копії даних Nepomuk
Name[vi]=Sao lưu Nepomuk
Name[wa]=Copeye di såvrité di Nepomuk
Name[x-test]=xxNepomuk Backupxx
Name[zh_CN]=Nepomuk 备份
Name[zh_TW]=Nepomuk 備份
Exec=nepomukbackup
Icon=nepomuk
Type=Application
Categories=Qt;KDE;System;Archiving;

