[Desktop Entry]
X-SuSE-translate=true
X-SuSE-DocTeamID=ycc_checkmedia
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Software;

X-KDE-ModuleType=Library
X-KDE-RootOnly=false
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=checkmedia

X-SuSE-YaST-Group=Software
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=false
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=yast-checkmedia
Exec=/sbin/yast2 checkmedia

Name=Media Check
GenericName=Verify CD and DVD media integrity
StartupNotify=true

