[Desktop Entry]
X-SuSE-translate=true
X-SuSE-DocTeamID=ycc_iscsi-client
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=iscsi-client

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=iscsi-client
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstSchema=iscsi-client.rnc

Icon=yast-iscsi-client
Exec=xdg-su -c "/sbin/yast2 iscsi-client"

Name=iSCSI Initiator
GenericName=Configure an iSCSI initiator
StartupNotify=true

