[Desktop Entry]
X-SuSE-translate=true
X-SuSE-DocTeamID=ycc_joystick
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Hardware;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=joystick

X-SuSE-YaST-Group=Hardware
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=yast-joystick
Exec=xdg-su -c "/sbin/yast2 joystick"

Name=Joystick
GenericName=Configure a joystick attached to the sound card
StartupNotify=true

