[Desktop Entry]
X-SuSE-translate=true
X-SuSE-DocTeamID=ycc_nis
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=nis

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstSchema=nis.rnc

Icon=yast-nis
Exec=xdg-su -c "/sbin/yast2 nis"

Name=NIS Client
GenericName=Configure a NIS client
StartupNotify=true

