[Desktop Entry]
X-SuSE-translate=true
X-SuSE-DocTeamID=ycc_printer
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Hardware;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2

X-SuSE-YaST-Call=printer
X-SuSE-YaST-Group=Hardware
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-AutoInstResource=printer
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstSchema=printer.rnc

Icon=yast-printer
Exec=xdg-su -c "/sbin/yast2 printer"

Name=Printer
GenericName=Configure printers

