[Desktop Entry]
X-SuSE-translate=true
X-SuSE-DocTeamID=ycc_runlevel
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=runlevel

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstSchema=runlevels.rnc

Icon=yast-runlevel
Exec=xdg-su -c "/sbin/yast2 runlevel"

Name=System Services (Runlevel)
GenericName=Configure runlevels
StartupNotify=true

