[Desktop Entry]
X-SuSE-translate=true
X-SuSE-DocTeamID=ycc_scanner
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Hardware;
X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=scanner
X-SuSE-YaST-Group=Hardware
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=
Icon=yast-scanner
Exec=xdg-su -c "/sbin/yast2 scanner"
Name=Scanner
GenericName=Configure a scanner
StartupNotify=true

