[Desktop Entry]
X-SuSE-translate=true
X-SuSE-DocTeamID=ycc_sound
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Hardware;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=sound

X-SuSE-YaST-Group=Hardware
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstSchema=sound.rnc

Icon=yast-sound
Exec=xdg-su -c "/sbin/yast2 sound"

Name=Sound
GenericName=Configure your sound card
StartupNotify=true

