[Desktop Entry]
X-SuSE-translate=true
X-SuSE-DocTeamID=ycc_sudo
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Security;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=sudo

X-SuSE-YaST-Group=Security
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=sudo

Icon=yast-sudo
Exec=xdg-su -c "/sbin/yast2 sudo"

Name=Sudo
GenericName=Configure sudo
StartupNotify=true

