[Desktop Entry]
X-SuSE-translate=true
X-SuSE-DocTeamID=ycc_sw_source
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Software;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=repositories

X-SuSE-YaST-Group=Software
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=yast-sw_source
Exec=xdg-su -c "/sbin/yast2 repositories"

Name=Software Repositories
GenericName=Choose the repositories for installation of software packages (CD, network, etc.), add the community repositories
StartupNotify=true

