[Desktop Entry]
X-SuSE-translate=true
X-SuSE-DocTeamID=ycc_sysconfig
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=sysconfig

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstDataType=list
X-SuSE-YaST-AutoInstSchema=sysconfig.rnc

Icon=yast-sysconfig
Exec=xdg-su -c "/sbin/yast2 sysconfig"

Name=/etc/sysconfig Editor
GenericName=Change settings in /etc/sysconfig configuration files
StartupNotify=true

