[Desktop Entry]
X-SuSE-translate=true
X-SuSE-DocTeamID=ycc_update
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Software;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=update

X-SuSE-YaST-Group=Software
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoinstResource=

Icon=yast-update
Exec=xdg-su -c "/sbin/yast2 update"

Name=FACTORY Update
GenericName=Update your system to the newest packages from FACTORY (expert tool)
Comment=Update your system to the newest packages from FACTORY (expert tool)
StartupNotify=true

