[Desktop Entry]
X-SuSE-translate=true
X-SuSE-DocTeamID=ycc_vendor
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Misc;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-KDE-Library=yast2
X-SuSE-YaST-Call=vendor

X-SuSE-YaST-Group=Misc
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=

Icon=yast-vendor
Exec=xdg-su -c "/sbin/yast2 vendor"

Name=Vendor Driver CD
GenericName=Install a driver from a vendor-specific CD-ROM
StartupNotify=true

