[Desktop Entry]
X-SuSE-translate=true
Name=Bluetooth Manager
Comment=Bluetooth Manager applet
Icon=bluetooth
Exec=bluetooth-applet
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;LXDE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-bluetooth
X-GNOME-Bugzilla-Component=applet
X-GNOME-Bugzilla-Version=3.4.1
AutostartCondition=GNOME3 if-session gnome-fallback

