[Desktop Entry]
Name=Tracker Store
Name[ar]=مخزن المُقتفي
Name[ca]=Magatzem del Tracker
Name[cs]=Úložiště prohledávače Tracker
Name[da]=Trackerlager
Name[de]=Tracker-Speicher
Name[el]=Αποθήκη του Tracker
Name[en_GB]=Tracker Store
Name[es]=Almacén de Tracker
Name[et]=Trackeri salvesti
Name[fr]=Dépôt Tracker
Name[gl]=Almacén de Tracker
Name[hu]=Tracker tároló
Name[id]=Penyimpanan Tracker
Name[it]=Store Tracker
Name[ja]=Tracker ストア
Name[lt]=Tracker saugykla
Name[nb]=Tracker lager
Name[nds]=Tracker Koopmannsladen
Name[pa]=ਟਰੈਕਰ ਸਟੋਰ
Name[pl]=Przechowywanie programu Tracker
Name[pt]=Registo Tracker
Name[pt_BR]=Armazenador do Tracker
Name[ro]=Depozit Tracker
Name[ru]=Хранилище Tracker
Name[sl]=Shramba tracker
Name[sr]=Трагачево складите
Name[sr@latin]=Tragačevo skladite
Name[sv]=Tracker-lagring
Name[zh_CN]=Tracker 存储
Comment=Metadata database store and lookup manager
Comment[ar]=مدير بحث وتخزين في قواعد البيانات الفوقية
Comment[ca]=Magatzem de base de dades de metadades i gestor de consultes
Comment[cs]=Úložiště databáze metadat a správce vyhledávání
Comment[da]=Håndtering af metadatadatabaselager og opslag
Comment[de]=Verwaltung für Suche und Speicherung in einer Metadaten-Datenbank
Comment[el]=Διαχειριστής αναζήτησης και αποθήκευσης μεταδεδομένων στην βάση δεδομένων
Comment[en_GB]=Metadata database store and lookup manager
Comment[es]=Gestor de almacenamiento y búsqueda en la base de datos de metadatos
Comment[et]=Metaandmete salvesti ja otsinguhaldur
Comment[fr]=Base de données de métadonnées et gestionnaire de recherche
Comment[gl]=Xestor de almacenamento e busca na base de datos de metadatos
Comment[hu]=Metaadat-adatbázis tároló és kereséskezelő
Comment[id]=Manajer lookup dan penyimpanan basis data metadata
Comment[ja]=メタ・データベースへ格納してマネージャーを検索します
Comment[lt]=Metaduomenų saugyklos ir peržiūros valdyklė
Comment[nb]=Databaselager og oppslagshåndterer for metadata
Comment[pl]=Menedżer przechowywania i wyszukiwania w bazie danych metadanych
Comment[pt]=Gestor para procurar e guardar base de meta dados
Comment[pt_BR]=Metadados de banco de dados de metadados e gerenciador de loopback
Comment[ro]=Magazin și administrator de căutare în baza de metadate
Comment[ru]=Хранилище базы метаданных и диспетчер поиска
Comment[sl]=Upravljalnik shranjevanja in iskanja podatkovne zbirke metapodatkov
Comment[sv]=Lagrings- och uppslagshanterare för metadatabas
Comment[zh_CN]=元数据库存储和查看管理器
Icon=
Exec=/usr/lib/tracker-store
Terminal=false
Type=Application
Categories=Utility;
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
NoDisplay=true
OnlyShowIn=GNOME;KDE;XFCE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Store
X-GNOME-Bugzilla-Version=0.14.2

