[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Exec=xdg-user-dirs-gtk-update
Name=User folders update
Comment=Update common folders names to match current locale
Terminal=false
OnlyShowIn=GNOME;XFCE;LXDE;Unity;
Type=Application
StartupNotify=false
X-KDE-autostart-after=panel

