
[Desktop Entry]
Type=Application
Name=Screensaver
Name[ca]=Salvapantalles
Name[cs]=Spořič obrazovky
Name[da]=Skærmskåner
Name[de]=Bildschirmschoner
Name[el]=Προφύλαξη οθόνης
Name[en_GB]=Screensaver
Name[es]=Protector de pantalla
Name[eu]=Pantaila-babeslea
Name[fi]=Näytönsäästäjä
Name[fr]=Économiseur d'écran
Name[gl]=Protector de pantalla
Name[hr]=Čuvar zaslona
Name[hu]=Képernyővédő
Name[id]=Penyimpan Layar
Name[it]=Salvaschermo
Name[ja]=スクリーンセーバー
Name[kk]=Экран қорғауышы
Name[ko]=화면 보호기
Name[lt]=Ekrano užsklanda
Name[nl]=Schermbeveiliging
Name[nn]=Skjermsparar
Name[pl]=Wygaszacz ekranu
Name[pt]=Proteção de ecrã
Name[pt_BR]=Protetor de tela
Name[ro]=Protector de ecran
Name[ru]=Заставка
Name[sk]=Šetrič obrazovky
Name[tr]=Ekran Koruyucu
Name[uk]=Зберігач екрану
Name[zh_CN]=屏幕保护
Name[zh_TW]=螢幕保護程式
Comment=Launch screensaver and locker program
Comment[ca]=Llança el salvapantalles i el programa de blocatge
Comment[cs]=Spustí spořič obrazovky a aplikaci pro uzamykání obrazovky
Comment[da]=Start programmet skærm-skåner og -lås
Comment[de]=Bildschirmschoner und -sperre aufrufen
Comment[el]=Εκκίνηση προφύλαξης οθόνης και προγράμματος κλειδώματος
Comment[en_GB]=Launch screensaver and locker program
Comment[es]=Ejecutar protector de pantalla y el programa de bloqueo
Comment[eu]=Abiarazi pantaila-babeslea eta blokeo programa
Comment[fi]=Käynnistä näytönsäästäjä ja lukitusohjelma
Comment[fr]=Verrouiller et lancer l'économiseur d'écran
Comment[hr]=Pokreni čuvara zaslona i zaključavanje
Comment[hu]=Képernyővédő és -zároló program indítása
Comment[id]=Jalankan program penyimpan layar dan pengunci
Comment[it]=Avvio il salvaschermo e il programma di blocco
Comment[ja]=スクリーンセーバーおよび画面ロックプログラムを起動します。
Comment[kk]=Экран қорғауыш және блоктау бағдарламасын жөнелту
Comment[ko]=화면 보호기 및 잠금 프로그램 실행하기
Comment[lt]=Paleisti ekrano užsklandą ir užrakinimo programą
Comment[nl]=Programma voor schermbeveiliging en -vergrendeling starten
Comment[nn]=Start skjermsparar- og skjermlåsprogrammet
Comment[pl]=Uruchamianie wygaszacza ekranu i programu blokującego ekran
Comment[pt]=Lançar proteção de ecrã e programa de bloqueio
Comment[pt_BR]=Lança protetor de tela e programa de bloqueio de tela
Comment[ro]=Porniți programul de protecție a ecranului
Comment[ru]=Запуск заставки и блокировка рабочего стола
Comment[sk]=Spustiť šetriť obrazovky a aplikáciu pre zamykanie obrazovky
Comment[tr]=Ekran koruyucuyu çalıştır ve programı kilitle
Comment[uk]=Запустити програми зберігача і замикання екрану
Comment[zh_CN]=启动屏幕保护和锁定程序
Comment[zh_TW]=啟動螢幕保護程式與上鎖程式
Icon=preferences-desktop-screensaver
Exec=xscreensaver -no-splash
TryExec=xscreensaver
OnlyShowIn=XFCE;
